<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>问题查看</title>
	<link rel="stylesheet" href="__PUBLIC__/css/hf.css">
	<link rel="stylesheet" href="__PUBLIC__/css/wentichakanye.css">
</head>
<body>
	<div class="header"><div class="blue"></div>
		<div class="login">
			
			<div class="loginin">
				<a href="#" class='appname'>儒思APP</a>
				<ul class="uls">
					<li><img src="__PUBLIC__/img/hf/导航新浪.png" alt="" class='sina'></li>
					<li><img src="__PUBLIC__/img/hf/导航微信.png" alt="" class='wechat'></li>
					<li><img src="__PUBLIC__/img/hf/导航QQ.png" alt="" class='qq'></li>
					<li>注册</li>
					<li>马上登录│</li>
				</ul>
			</div>
			<div class="nav">
				<div class="navin">
					<a href="__APP__"><img src="__PUBLIC__/img/hf/logo.png" alt="" class='logo'></a>
					<div class="searchbox">
						<input class="searchtext" type="text" placeholder="请输入关键字"/>
						<input class="search" type="button" value="搜索"/>
					</div>
					<ul class="uls">
						<li><a href="{:U('Index/index')}">首页</a></li>
						<li><a href="{:U('Course/index')}">HR微课</a></li>
						<li style='color:#063391;border-bottom: 2px solid #063391;'>圈子问答</li>
						<li><a href="{:U('Doc/index')}">资料下载</a></li>
							<li id="need">HR需要
							<ul id='ulss'>
								<li class="bor">私人教练</li>
								<li class="bor">私人教练</li>
							</ul>
						</li>
						<li><a href="{:U('News/index')}">HR资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="bannerout">
			<div class="banner">
				<img src="__PUBLIC__/img/tiwenye/banner.png" alt="" class='img'>
				<p class='title'>首页>HR问答>提问>招聘面试>如何提高招聘效率？</p>
			</div>
		</div>
		<div class="content">
			<div class="leftone">
				<p class='title'><img src="__PUBLIC__/img/wentichakan/wen.png" alt="" class='img'>如何提高招聘效率？</p>
				<p class='padding'><span>问题补充：</span>招聘效率很低blabla</p>
				<p class='infor'><img src="__PUBLIC__/img/wentichakan/椭圆-1.png" alt="" class='img'><span>Somebody</span>│2016-08-19│浏览：422次│回复：2次│来自：<span>IOS客户端</span></p>
				<p class='class'>分类：招聘面试&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提问专家：崔晓光</p>
			</div>
			<div class="lefttwo">
				<div class="nav">
					<div class="title">相关问题</div>
				</div>
				<ul class="uls">
					<li>
						<img src="__PUBLIC__/img/renliquzheng/touxiang.png" alt="" class='img'>
						<p class='title'><span class='ios'>来自：IOS客户端</span>sjngfksd</p>
						<p>貌似不错阿，学习了。。。</p>
						<p style='color:#A0A0A0;'><span>4楼</span>20小时 <a href="" class='back'>回复</a><a href="" class='get'>采纳答案</a></p>
					</li>
					<li>
						<img src="__PUBLIC__/img/renliquzheng/touxiang.png" alt="" class='img'>
						<p class='title'><span class='ios'>来自：IOS客户端</span>sjngfksd</p>
						<p>貌似不错阿，学习了。。。</p>
						<p style='color:#A0A0A0;'><span>4楼</span>20小时 <a href="" class='back'>回复</a><a href="" class='get'>采纳答案</a></p>
					</li>
					<li style='border-bottom:none;'>
						<img src="__PUBLIC__/img/renliquzheng/touxiang.png" alt="" class='img'>
						<p class='title'><span class='ios'>来自：IOS客户端</span>sjngfksd</p>
						<p>貌似不错阿，学习了。。。</p>
						<p style='color:#A0A0A0;'><span>4楼</span>20小时 <a href="" class='back'>回复</a><a href="" class='get'>采纳答案</a></p>
					</li>
					
				</ul>
				<div class="last">
						<img src="__PUBLIC__/img/renliquzheng/touxiang.png" alt="" class='img'>
						<div class="content">
							<p class='title'><span class='ios'>来自：IOS客户端</span>sjngfksd</p>
							<p syle='line-height:10px;'>绩效工资实际上已经是根据业绩作出的提成，只是按段位计算，不是按比例计算。正常的结构：固定工资+考核工资+提成+奖金。其中，考核工资与其工作态度、制度执行、团队管理、技术、能力等挂钩即可</p>
							<p style='color:#A0A0A0;'><span>4楼</span>20小时 <a href="" class='back'>回复</a><a href="" class='get'>采纳答案</a></p>
						</div>
					</div>
			</div>
			<div class="rightone">
				<img src="__PUBLIC__/img/wentichakan/儒思.png" alt="">
				<ul class="uls">
					<li>儒师有约第二十三期《WWWWW》</li>
					<li>儒师有约第二十三期《WWWWW》</li>
					<li>儒师有约第二十三期《WWWWW》</li>
					<li>儒师有约第二十三期《WWWWW》</li>
				</ul>
			</div>
			<div class="righttwo">
				<div class="nav">
					<div class="title">相关问题</div>
				</div>
				<ul class="uls">
					<li>招聘流程是什么？</li>
					<li>大家招聘时怎么选择的？</li>
					<li>人力资源的薪酬和招聘关系</li>
					<li>招聘流程是什么？</li>
					<li>大家招聘时怎么选择的？</li>
					<li>人力资源的薪酬和招聘关系</li>
					<li>招聘流程是什么？</li>
					<li>大家招聘时怎么选择的？</li>
					<li>人力资源的薪酬和招聘关系</li>
					<li>招聘流程是什么？</li>
					<li>大家招聘时怎么选择的？</li>
					<li>人力资源的薪酬和招聘关系</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footerin">
			<img src="__PUBLIC__/img/hf/儒思logo--反白.png" alt="" class='logo'>
			<div class="line"></div>
			<div class="information">
				<p>公司地址</p>
				<p style='margin-bottom:21px'>ADDRESS</p>
				<p>北京市朝阳区<br/>双井优士阁大厦B座A1001室</p>
			</div>
			<div class="telemail">
				<p class='tel'>101-5861&nbsp;3231</p>
				<p class='email'>zxkf@ruthout.com</p>
			</div>
			<ul class="uls">
				<li>关于我们</li>
				<li>人才招聘</li>
				<li>专家申请</li>
				<li>联系我们</li>
				<li>意见反馈</li>
				<li>友情链接</li>
			</ul>
			<div class="together">
				<p style='font-size:14px;margin-bottom:15px;letter-spacing:1px;'>分享&nbsp;>></p>
				<hr style='height:1px;border:none;border-top:1px solid #fff;margin-bottom:4px;'/>
				<ul class="imgs">
					<li><img src="__PUBLIC__/img/hf/QQ.png" alt=""></li>
					<li><img src="__PUBLIC__/img/hf/微信.png" alt=""></li>
					<li><img src="__PUBLIC__/img/hf/新浪.png" alt=""></li>
					<li><img src="__PUBLIC__/img/hf/腾讯微博.png" alt=""></li>
					<li><img src="__PUBLIC__/img/hf/QQ空间.png" alt=""></li>
				</ul>
				<p style='letter-spacing:1px;'>&copy;Copyright 2014儒思（北京）教育科技有限公司版权所有<br/>京ICP备14038754号</p>
			</div>
		</div>
	</div>
</body>
</html>
<script src='__PUBLIC__/js/jquery-1.8.3.min.js'></script>
<script src='__PUBLIC__/js/placeholder.js'></script>
<script>
	$('#need').click(function(){
			$("#ulss").toggle();	
	})
</script>
